@charset "ISO-8859-1";

.flight{
    width: 360px;
    height: 625px;
    background: rgba(0,0,0,0.3);
    color: #fff;
    top: 50%;
    left: 70%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 40px;
}

h1
{
    margin: 0;
    padding: 0 0 7px;
    text-align: center;
    font-size: 22px;
}

.flight p
{
    margin: 7px;
    padding: 0px;
    font-weight: bold;
}

.flight input[type="text"], input[type="number"], input[type="date"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 15px;
    color: #fff;
    font-size: 16px;
}

.flight input[type="submit"]
{
	margin: 0px;
	text-align: center;
	padding: 10px 75px;
    border: none;
    outline: none;
    height: 45px;
    background: #1c8adb;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
}

.flight input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}