@charset "ISO-8859-1";

.contact
{
    width: 360px;
    height: 520px;
    background: rgba(0,0,0,0.3);
    color: #fff;
    top: 50%;
    left: 70%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 70px;
}

.contact p
{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

h1
{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 35px;
}