@charset "ISO-8859-1";

.login-box{
    width: 360px;
    height: 400px;
    background: rgba(0,0,0,0.3);
    color: #fff;
    top: 50%;
    left: 70%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 40px;
}

.avatar
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1
{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box p
{
    margin: 3px;
    padding: 2px;
    font-weight: bold;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"]
{
	margin: 20px;
	text-align: center;
	padding: 10px 90px;
    border: none;
    outline: none;
    height: 50px;
    background: #1c8adb;
    color: #fff;
    font-size: 25px;
    border-radius: 10px;
}

.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a
{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.login-box a:hover
{
    color: #39dc79;
}