@charset "ISO-8859-1";

.create
{
    width: 360px;
    height: 400px;
    background: rgba(0,0,0,0.3);
    color: #fff;
    top: 50%;
    left: 70%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 40px;
}

h1
{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
}

.create p
{
    margin: 3px;
    padding: 2px;
    font-weight: bold;
}
.create input[type="text"], input[type="password"],input[type="radio"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #fff;
    font-size: 16px;
}

.create input[type="submit"]
{
	margin: 20px;
	text-align: center;
	padding: 10px 70px;
    border: none;
    outline: none;
    height: 50px;
    background: #1c8adb;
    color: #fff;
    font-size: 25px;
    border-radius: 10px;
}

.create input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.create a
{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.create a:hover
{
    color: #39dc79;
}
